* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
  color: inherit;
}

a,
a:hover,
a:focus,
a:active {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  transition: color 0.2s;
}

a:hover,
a:focus,
a:active {
  color: #00000069;
}

.btn {
  background-color: #005aa3;
  color: azure;
  margin-top: 3rem;
  margin-right: auto;
  font-size: 1.3rem;
  border: none;
  border-radius: 2px;
  padding: 1rem;
  transition: opacity 0.2s;
}

.btn-secondary {
  background-color: #f77825;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  opacity: 0.7;
  cursor: pointer;
}

/*                       */

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 4rem;
}

.navbar > ul {
  display: flex;
}

.navbar > ul > li {
  margin: 0 10px;
  font-size: 1.4rem;
  color: #000000c4;
  font-size: 1.5rem;
  font-weight: 600;
}

/*                  landing                   */

.title-picture__container {
  background: url(./pic1.jpg) rgba(0, 0, 0, 0.534) no-repeat center center;
  background-blend-mode: multiply;
  height: 550px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.landing {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.landing > h1 {
  color: rgb(253, 253, 253);
  margin-top: 4rem;
  font-size: 3rem;
}

.landing > p {
  margin-top: 2rem;
  width: 800px;
  font-size: 1.3rem;
  color: #cecece;
}

/*         two more titles            */

.small-titles__section {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}

.small-titles__container {
  width: 800px;
  display: flex;
  justify-content: center;
}
