:root {
  --main-bg-color: #f7f9fb;
  --secondary-bg-color: #353535;
  --secondary-clr-text: #ff5400;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
}

/*                navbar                     */
#main-nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg-color);
  height: 8rem;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  z-index: 22;
  border-bottom: 1px solid var(--secondary-clr-text);
}

.logo {
  padding: 1rem;
  color: #333;
}

.logo > span {
  color: var(--secondary-clr-text);
}

.title-logo {
  font-size: 1rem;
  color: #000000;
}

.title-logo > span {
  color: var(--secondary-clr-text);
}

.nav-items {
  display: flex;
}

.nav-items > a {
  padding: 1rem;
}

.nav-items > a :hover,
.nav-items > a :active,
.nav-items > a :focus {
  color: var(--secondary-clr-text);
}

#hamburger {
  display: none;
}

@media screen and (max-width: 920px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 50%;
    transform: translateX(100%);
    transition: transform 500ms ease-in;
  }

  #hamburger {
    display: inline-block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}

/*      sakumlapa             */

#sakumlapa-container {
  background: url(./car-photo.jpg) rgba(0, 0, 0, 0.671) no-repeat center center;
  background-blend-mode: multiply;
  width: 100vw;
  height: calc(100vh - 8rem);
  display: flex;
  position: relative;
  top: 8rem;
  align-items: center;
}
.text-container {
  color: rgb(230, 230, 230);
  padding-left: 10%;
  width: 40vw;
}

.text-container > h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.text-container > p {
  width: 20rem;
  line-height: 30px;
}

/*       par mums      */

#par-mums-container {
  background-color: var(--main-bg-color);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#par-mums-container > img {
  width: 400px;
}

.par-mums_info {
  width: 400px;
}

.par-mums_info > h4 {
  font-size: 1.2rem;
  color: var(--secondary-clr-text);
  margin: 2rem 0;
}

.par-mums_info > h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.par-mums_info > p {
  letter-spacing: 3px;
  line-height: 200%;
  width: 410px;
}

@media screen and (max-width: 920px) {
  #par-mums-container {
    margin-top: 8rem;
    padding-bottom: 2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .par-mums_info > h4 {
    text-align: center;
  }

  .par-mums_info > h2 {
    width: 80%;
    text-align: center;
    margin: 2rem auto;
  }

  .par-mums_info {
    display: flex;
    flex-direction: column;
  }

  .par-mums_info > p {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 830px) {
  .par-mums_bilde {
    display: none;
  }
}

/*    pakalp0jumi     */

#pakalpojumi-container {
  background: url('./pakalpojumi-bg-big.jpg') rgba(0, 0, 0, 0.671) no-repeat
    center center;
  background-blend-mode: multiply;
  color: var(--secondary-bg-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#pakalpojumi-container > h1 {
  margin-top: 2rem;
  font-size: 2.3rem;
  color: var(--secondary-clr-text);
  border-bottom: 2px solid var(--main-bg-color);
}

.pakalpojumi {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pakalpojums {
  width: 300px;
  height: 404px;
  background-color: var(--main-bg-color);
  border: 2px solid var(--secondary-clr-text);
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.171);
}

.pakalpojums > h3 {
  padding: 1.5rem;
  text-align: center;
}

.pakalpojums > p {
  text-align: center;
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;

  letter-spacing: 3px;
}

.cena {
  background-color: var(--secondary-clr-text);
  color: var(--main-bg-color);
  width: 130px;
  height: 60px;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media screen and (max-width: 1024px) {
  #pakalpojumi-container > h1 {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .pakalpojumi {
    flex-direction: column;
  }
  .pakalpojums {
    margin-bottom: 3rem;
  }
  #pakalpojumi-container {
    height: fit-content;
  }
}

/*     kontakti       */

#kontakti-container {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
}

.info > h3 {
  margin: 2rem;
}

/*   footer    */

footer {
  height: 5rem;
  color: var(--main-bg-color);
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
