:root {
  --main-bg-color: #f7f9fb;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

li {
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
}
/*                navbar                     */
#main-nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg-color);
  height: 8rem;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  z-index: 22;
}

.logo {
  padding: 1rem;
  color: #333;
}

.logo > span {
  color: #ff5400;
}

.title-logo {
  font-size: 1rem;
  color: #000000;
}

.title-logo > span {
  color: #ff5400;
}

.nav-items {
  display: flex;
}

.nav-items > a {
  padding: 1rem;
}

.nav-items > a :hover,
.nav-items > a :active,
.nav-items > a :focus {
  color: #ff5400;
}

#hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 50%;
    transform: translateX(100%);
    transition: transform 500ms ease-in;
  }

  #hamburger {
    display: inline-block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}

/*      sakumlapa             */

#sakumlapa-container {
  background: url(./car-photo.jpg) rgba(0, 0, 0, 0.671) no-repeat center center;
  background-blend-mode: multiply;
  width: 100vw;
  height: calc(100vh - 8rem);
  display: flex;
  position: relative;
  top: 8rem;
  align-items: center;
}
.text-container {
  color: rgb(230, 230, 230);
  padding-left: 10%;
  width: 40vw;
}

.text-container > h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.text-container > p {
  width: 20rem;
  line-height: 30px;
}

/*       pakalpojumi       */

#pakalpojumi-container {
  background-color: var(--main-bg-color);
  height: 100vh;
}
