* {
  box-sizing: border-box;
}

.mainContainer {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
}

.logo {
  height: 100%;
}

.navbar {
  height: 100px;
  background-color: red;
}
